.detailed-page {
  display: flex;
  width: 40%;
  justify-content: center;
  margin-top: 200px;
}

.detailed-info {
  z-index: 5;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
