.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.person-list {
  h3 {
    margin: 0;
  }
  p {
    padding: 0;
    margin: 5px;
  }
  border: 3px solid #ff0000;
  border-radius: 10px;
  list-style-type: none;
}

.detailed-link {
  color: black;
}

