.uncontrolled-form {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.uncontrolled-form input,
select {
    margin-left: 10px;
}

.password-complexity {
    display: none;
    width: 100%;
    height: 2px;
}

.validation-error {
    margin: 0;
    padding: 0;
    border: 0;
    padding: 2px;
    color: red;
}
