body {
  display: flex;
  margin: 0 auto;
  place-items: center;
  background-color: #ffffff;
  background: url("./assets/background.jpg") no-repeat;
  color: #ffffff;
}

#root {
  max-width: 1280px;
  min-height: 768px;
  padding: 2rem;
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 2px solid;
  background-color: #f9f9f9;
  color: #2a6688;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.error-button {
  margin: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
